@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

/*-----------------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*-----------------------------------------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}
/*-------------------Barra onde está o menu----------------------------*/
nav {
  display: flex;
  align-items: center;
  padding: 10px 5px 0px 5px;
  background-color: #222127;
}
/*-------------------Menu lateral----------------------------*/
#offcanvasRight {
  width: 70vw;
  height: 99.9vh;
  background-color: rgb(199, 199, 199);
}

.offcanvas-body button {
  display: block;
  border: none;
  background-color: transparent;
  margin: auto;
}

.offcanvas-body button:nth-child(1):hover {
  background-color: rgb(217, 217, 217);
  width: 200px;
}

.offcanvas-body button:nth-child(2):hover {
  background-color: rgb(217, 217, 217);
  width: 200px;
}

.offcanvas-body button:nth-child(3):hover {
  background-color: rgb(217, 217, 217);
  width: 200px;
}

.offcanvas-body button a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
}

.cad {
  position: absolute;
  bottom: 80px;
  left: 55px;
}

.offcanvas-body button a.das {
  color: white;
  background-color: red;
  padding: 6px;
  border-radius: 10px;
}

.offcanvas-body button a.das:hover {
  background-color: rgb(206, 2, 2);
}

.log::after {
  content: ' |';
}

.container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.but {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0px 3px;
  cursor: pointer;
  align-items: center;
  color: white;
}

.material-icons {
  font-size: 40px;
}
/*-------------------Logo do curso----------------------------*/
.logo {
  width: 200px;
  color: white;
  font-family: Righteous;
  font-size: 2em;
}

.logo > span > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/*--------------------Menu---------------------------*/
#menu {
  background-color: rgb(255, 117, 117);
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  width: 200px;
  justify-content: center;
}

#menu > ul {
  list-style-type: none;
}
/*---------------------Div principal--------------------------*/
main {
  background-color: #222127;
  color: white;
  font-size: 1.1em;
  text-align: justify;
  height: 100vh;
  width: 100vw;
}
/*-------------------------Local dos gifs----------------------*/
.gif-g {
  display: flex;
  justify-content: center;
}
/*--------------------------Gif da esquerda---------------------*/
#imgEsq {
  width: 90px;
  object-fit: contain;
  margin-left: -20px;
}
/*--------------------------Gif da direita---------------------*/
#imgDir {
  width: 110px;
  object-fit: contain;
  transform: scaleX(-1);
  margin-top: 5px;
  margin-right: -50px;
}
/*--------------------------Conteúdo---------------------*/
.texto {
  padding: 0 15px;
  text-indent: 15px;
  margin: 0;
}

.texto > p {
  margin: 0;
  padding-bottom: 10px;
}

.texto h1 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  padding: 0 0 10px 0;
  margin-top: 50px;
  margin-left: -17px;
  color: white;
  animation: textWave 2s ease-in-out infinite;
}

.texto h1 span {
  display: inline-flex;
  margin: -7px;
  padding: 0;
  text-align: left;
}

.texto .destaque {
  color: aliceblue;
  font-weight: bold;
}
/*-------------------Carrossel automático----------------------------*/
.carousel-item > img {
  width: 200px;
  height: 400px;
  object-fit: cover;
  object-position: top center;
}

.law > img {
  object-position: center center;
}
/*--------------------Imagem de fundo---------------------------*/
.akats {
  background-image: url(../imagens/wallpaper.jpg);
  padding-top: 10px;
  background-size: cover;
  background-position: center;
}

.t2 {
  background-color: rgba(0, 0, 0, 0.605);
}
/*-------------------Local de compra do curso--------------------------*/
article {
  background-color: black;
  padding-top: 10px;
  padding-bottom: 30px;
}

article button {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 10px;
  width: 200px;
  height: 60px;
  font-size: 1.3em;
  border-radius: 10px;
  overflow: hidden;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

.valores button > a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

article button span {
  padding: 2px;
}
/*------------Animação da borda de compra-----------------------*/
article button > span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: linear-gradient(to right, transparent, red);
  border-radius: 10px;
  animation: animar1 2s linear infinite;
}

@keyframes animar1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

article button > span:nth-child(2) {
  position: absolute;
  top: 0;
  right: 0;
  width: 3px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, transparent, red);
  animation: animar2 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animar2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}

article button > span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background: linear-gradient(to left, transparent, red);
  animation: animar3 2s linear infinite;
}

@keyframes animar3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

article button > span:nth-child(4){
  position: absolute;
  bottom: 0;
  left: 0;
  width: 3px;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to top, transparent, red);
  animation: animar4 2s linear infinite;
  animation-delay: 1s;
}

@keyframes animar4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}
/*------------------Informações dos preços-----------------------------*/
.valores {
  width: 300px;
  margin: auto;
  background-color: #222127;
  padding-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid white;
}

.valores button a:hover {
  animation: textWave 2s ease-in-out infinite;
}

.valores > span {
  display: block;
  margin: auto;
  text-align: center;
  padding: 3px;
  color: white;
}

.valores > span:nth-child(1) {
  font-size: 1.3em;
  font-weight: bold;
}

.valores > span:nth-child(2) {
  font-size: 13px;
}

.valores > span:nth-child(3) {
  font-size: 19px;
  font-weight: bold;
}

.valores > span:nth-child(4) {
  font-size: 14px;
}
/*-------------------Animação do brilho do H1 bem vindo!---------------*/
@keyframes textWave {

  30% {
    text-shadow: 0px 0px 2px #73bdee,
    0px 0px 10px #73bdee,
    0px 0px 20px #73bdee;
    color: rgba(255, 255, 255);
  }

  50% {
    text-shadow: 0px 0px 2px #73bdee,
    0px 0px 10px #73bdee,
    0px 0px 20px #73bdee;
    color: rgba(255, 255, 255);
  }
  100% {
    text-shadow: none;
  }
}