@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  width: 100vw;
}

nav {
  display: flex;
  align-items: center;
  padding: 10px 5px 0px 5px;
  background-color: #222127;
}

#offcanvasRight {
  width: 50vw;
}

.container {
  position: absolute;
  top: 10px;
  right: 10px;
}

.but {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
  padding: 0px 3px;
  cursor: pointer;
  align-items: center;
  color: white;
}

.material-icons {
  font-size: 40px;
}

.logo {
  width: 200px;
  color: white;
  font-family: Righteous;
  font-size: 2em;
}

.logo > span > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#menu {
  background-color: rgb(255, 117, 117);
  display: flex;
  position: absolute;
  top: 50px;
  right: 0;
  height: 100vh;
  width: 200px;
  justify-content: center;
}

#menu > ul {
  list-style-type: none;
}

main {
  background-color: #222127;
  color: white;
  font-size: 1.1em;
  text-align: justify;
  height: 100vh;
  width: 100vw;
}

.gif-g {
  display: flex;
  justify-content: center;
}

.gif-g > img {
  width: 220px;
  margin-left: -60px;
}

.texto {
  padding: 0 15px;
  text-indent: 15px;
  margin: 0;
}

.texto > p {
  margin: 0;
  padding-bottom: 10px;
}

.texto h1 {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.8em;
  padding: 0 0 10px 0;
  margin-top: 40px;
  margin-left: -17.1px;
}

.texto .destaque {
  color: aliceblue;
  font-weight: bold;
}

.carousel-item > img {
  width: 200px;
  height: 400px;
  object-fit: cover;
  object-position: top center;
}

.law > img {
  object-position: center center;
}

.akats {
  background-image: url(../imagens/wallpaper.jpg);
  padding-top: 10px;
  background-size: cover;
  background-position: center;
}

.t2 {
  background-color: rgba(0, 0, 0, 0.605);
}

.links {
  padding: 10px 0;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  background-color: #222127;
}

.links button {
  display: flex;
  border: none;
  background-color: transparent;
  align-items: center;
  padding-right: 10px;
  width: 160px;
  height: 50px;
  justify-content: center;
  border-radius: 10px;
}

.links button:nth-child(1) {
  background-color: #5765EC;
}

.links button:nth-child(2) {
  background-color: #32D951;
}

.links span {
  display: flex;
  width: 50px;
  height: 50px;
}

.links span > img {
  width: 100%;
  height: 100%;
}

.links button a {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  font-weight: 600;
}